/* 小程序背景色 */
page {
    background-color: #f7f9ff
}

.container{
    width: 100%;
    margin-right: auto;
    margin-left: auto;
    padding-top: 0.5rem!important;
}

.list-item {
    padding: 0.75rem;
    margin-bottom: 0.5rem;
    flex-direction: row;
    background-color: #fff;
    position: relative;
    display: flex;
    min-width: 0;
    word-wrap: break-word;
    box-shadow: 0px 0px 5px 0 rgb(158 158 158 / 9%);
}

.wutu {
    padding: 0.75rem;
    margin-bottom: 0.5rem;
    flex-direction: row;
    position: relative;
    display: flex;
    min-width: 0;
    background-color: #fff;
    min-width: 0;
    word-wrap: break-word;
    box-shadow: 0px 0px 5px 0 rgb(158 158 158 / 9%);
}

.p-0 {
    padding: 0!important;
}

.media {
    border-radius: inherit;
    position: relative;
    display: block;
    overflow: hidden;
    width:32.8%;
    margin-right:3px;
}

.leftmedia {
    left:0.55rem;
}

.media:after {
    content: '';
    display: block;
    padding-top: 100%;
}

.media-3x2:after {
    padding-top: 66.66666%;
}

.col-4 {
    margin-top:5px;
    flex: 0 0 auto;
    display: flex;
}

.media-content {
    position: absolute;
    width:100%;
    height:100%;
    border-radius:4px;
}

.list-content {
    width:67.2%;
    display: flex;
    flex-direction: column;
    flex: 1 1 auto;
    justify-content: center;
    min-width: 0;
}

.list-body {
    flex: 1 1 auto;
    -webkit-box-orient: vertical;
    display: block;
    color: #444;
    font-size: 1rem;
    line-height: 1.4;
    font-weight: bold;
}

.badge {
    font-size: .625rem;
    padding: 0.1875rem 0.5rem;
    position: relative;
    top: -2px;
    margin-right: 0.25rem!important;
    color: #fff;
    background-image: linear-gradient(to right,#ff4740,#ffa069,#ffab55,#ff6c40);
    background-size: 300% 100%;
    font-weight: 400;
    line-height: 1;
    text-align: center;
    white-space: nowrap;
    display: inline-block;
    border-radius:4px;
}

.list-footer {
    margin-top: 0.5rem;
    color: #aeafb9 !important;
    font-size: .75rem !important;
    align-items: center!important;
    flex: 1 1 auto!important;
    display: flex!important;
}

.flex-fill {
    flex: 1 1 auto!important;
}

.item-meta {
    position: relative;
    display: inline-block;
}

.item-fenge {
    padding:0 5px 0 5px;
}

.align-middle {
    vertical-align: middle!important;
}

.list-desc {
    color: #53535c !important;
    font-size: .875rem !important;
    margin-top: 0.5rem !important;
}

.h-2x {
    overflow: hidden;
    display: -webkit-box;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
}

/* 顶部导航 */
.index-columns-cat {
    padding: 12px 0px 12px 12px;
    color: #fff;
    background-color: #fff;
    display:flex;
    box-shadow:0px 0px 5px 0 rgb(158 158 158/9%);
}

.swiper-wrapper {
    width: 100%;
    height: 100%;
    z-index: 1;
    margin-right:10px;
}

.overlay-hover {
    max-width: 100%;
    position: relative;
}

.swiper-img {
    position:absolute;
    width:100%;
    height:100%;
    border-radius:5px;
}

.swiper-content {
    padding: 0.5rem;
    position: relative;
    flex-direction: column;
    -webkit-line-clamp: 1;
    font-size: .875rem !important;
    text-align: center!important;
}

/* 下拉加载 */
.read-more {
    text-align: center;
    padding: 30rpx 0;
    font-size: 14px;
    color: #aaa;
}

.cu-load {
    display: block;
    text-align: center;
}

.cu-load::before {
    font-family: "cuIcon";
    display: inline-block;
    margin-right: 6rpx;
}

.cu-load.loading::before {
    animation: cuIcon-spin 2s infinite linear;
}

.cu-load.over::after {
    content: "已为您加载完所有数据";
}

.cu-load.erro::after {
    content: "数据加载失败";
}

/* 文章内容页 */
.post-center {
    padding:0.75rem;
    background-color:#fff;
}

.post-comment {
    background-color:#fff;
}

.post-header {
    position: relative;
    margin-bottom: 0.5rem!important;
}

.mb-3 {
    margin-bottom: 1rem!important;
    font-size: 1.4rem;
    font-weight: 700;
    line-height: 1.4;
}

.post-content {
    letter-spacing: 0;
    text-align: justify;
    font-size: .9375rem;
    line-height: 1.875;
    color: #53535c;
    word-wrap: break-word;
}

.post-on {
   width:21px;
   height:21px;
   display:inline-block;
}

.mb-md-4 {
    font-size: 1.0625rem;
    line-height: 1.4;
    font-weight: 500;
    margin: 0;
    margin-bottom: 1rem!important;
}

.post-li {
    position: relative;
    padding-left: 1rem;
    margin: 0 0 1rem;
}

.post-li:before {
    content: '∷';
    position: absolute;
    left: 0;
    width: 8px;
    color: rgb(240, 11, 11);
    top:-1px;
}

.post-hx {
    overflow: hidden;
    display: -webkit-box;
    -webkit-line-clamp: 1;
    -webkit-box-orient: vertical;
}